<div class="row alerts-container" data-ng-controller="MessageCTRL" data-ng-show="alerts.length">
    <div class="col-xs-12">
        <!--<md-toast ng-repeat="alert in alerts">
            <span flex>{{alert.type}} : {{alert.msg}}</span>
            <md-button ng-click="closeToast()">
                Close
            </md-button>
        </md-toast>-->
        <!--<alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>-->
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon green pull-left">
                    <i class="fa fa-users"></i>
                </div>
                <div class="title">80</div>
                <div class="comment">Users</div>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon red pull-left">
                    <i class="fa fa-tasks"></i>
                </div>
                <div class="title">16</div>
                <div class="comment">Servers</div>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon orange pull-left">
                    <i class="fa fa-sitemap"></i>
                </div>
                <div class="title">225</div>
                <div class="comment">Documents</div>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon blue pull-left">
                    <i class="fa fa-support"></i>
                </div>
                <div class="title">62</div>
                <div class="comment">Tickets</div>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>

<div class="row">
    <md-card class="col-lg-6">
        <md-data-table-toolbar>
            <h6 class="md-title">Servers</h6>
            <div flex></div>
            <md-button class="md-icon-button" aria-label="Manage">
                <md-icon md-font-set="material-icons">explore</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-font-set="material-icons">more_vert</md-icon>
            </md-button>
        </md-data-table-toolbar>
        <md-divider></md-divider>
        <md-data-table-container>
            <table md-data-table md-row-select="selected" md-progress="deferred">
                <tbody>
                    <tr md-auto-select>
                        <td>Mobile Basic</td>
                        <td>172.255.255.255</td>
                        <td>
                            <md-icon md-font-set="material-icons">check</md-icon>
                        </td>
                    </tr>
                    <tr md-auto-select>
                        <td>My Computer</td>
                        <td>172.255.255.251</td>
                        <td>
                            <md-icon md-font-set="material-icons">check</md-icon>
                        </td>
                    </tr>
                    <tr md-auto-select>
                        <td>Fun Base</td>
                        <td>172.255.251.255</td>
                        <td>
                            <md-icon md-font-set="material-icons">check</md-icon>
                        </td>
                    </tr>
                    <tr md-auto-select>
                        <td>Robots IO</td>
                        <td>172.251.255.255</td>
                        <td>
                            <md-icon md-font-set="material-icons">check</md-icon>
                        </td>
                    </tr>
                    <tr md-auto-select>
                        <td>Fantastic Web</td>
                        <td>171.255.255.255</td>
                        <td>
                            <md-icon md-font-set="material-icons">warning</md-icon>
                        </td>
                    </tr>
                    <tr md-auto-select>
                        <td>Future Access</td>
                        <td>167.255.255.255</td>
                        <td>
                            <md-icon md-font-set="material-icons">warning</md-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-data-table-container>
    </md-card>
    <md-card class="col-lg-6">
        <md-data-table-toolbar>
            <h4 class="md-title">User</h4>
            <div flex></div>
            <md-input-container md-no-float>
                <md-input placeholder="Search"></md-input>
            </md-input-container>
            <md-button class="md-icon-button" aria-label="Manage">
                <md-icon md-font-set="material-icons">account_circle</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-font-set="material-icons">more_vert</md-icon>
            </md-button>
        </md-data-table-toolbar>
        <md-divider></md-divider>
        <md-data-table-container>
            <table md-data-table md-row-select="selected" md-progress="deferred">
                <thead>
                    <tr>
                        <th name="ID"></th>
                        <th name="Username"></th>
                        <th name="Role"></th>
                        <th name="Account"></th>
                        <th ng-class="{icon:true}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr md-auto-select>
                        <td>1</td>
                        <td>Sunny B</td>
                        <td>Admin</td>
                        <td>AAAAA</td>
                        <td layout-align="center">
                            <md-icon md-font-set="material-icons">verified_user</md-icon>
                        </td>
                    </tr>
                    <tr md-auto-select>
                        <td>2</td>
                        <td>John Doe</td>
                        <td>Customer</td>
                        <td>CCCCCCCC</td>
                        <td>
                            <md-icon md-font-set="material-icons">verified_user</md-icon>
                        </td>
                    </tr>
                    <tr md-auto-select>
                        <td>3</td>
                        <td>Jattey Gorecha</td>
                        <td>Engineer</td>
                        <td>JJJJJJJJ</td>
                        <td>
                            <md-icon md-font-set="material-icons">verified_user</md-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-data-table-container>
    </md-card>
</div>

<div class="row">
    <md-card class="col-lg-6">
        <md-data-table-toolbar>
            <h4 class="md-title">Action Items</h4>
            <div flex></div>
            <md-button class="md-icon-button" aria-label="Manage">
                <md-icon md-font-set="material-icons">cloud_download</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-font-set="material-icons">more_vert</md-icon>
            </md-button>
        </md-data-table-toolbar>
        <md-divider></md-divider>
        <md-list>
            <md-list-item>
                <md-content>
                    <div class="message">
                        Procurement, auction & sourcing are all related no matter how less.
                        Lets reconsider our vision of tomorrow ?
                    </div>
                </md-content>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
                <md-content>
                    <div class="message">
                        The theory of everything is not yet realized.
                        The string theory is only a byproduct of what you call that.
                    </div>
                </md-content>
            </md-list-item>
        </md-list>
    </md-card>
    <md-card class="col-lg-6">
        <md-data-table-toolbar>
            <h4 class="md-title">Finality</h4>
            <div flex></div>
            <md-button class="md-icon-button" aria-label="Manage">
                <md-icon md-font-set="material-icons">cloud_download</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-font-set="material-icons">more_vert</md-icon>
            </md-button>
        </md-data-table-toolbar>
        <md-divider></md-divider>
        <md-list>
            <md-list-item>
                <md-content>
                    <div class="message">
                        The cause is the effect of the cause. Find a way to overcome the grand father paradox.
                    </div>
                </md-content>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
                <md-content>
                    <div class="message">
                        Simplicity is the trademark of an elegant vision.
                        However, future is not without its own consequences!
                    </div>
                </md-content>
            </md-list-item>
        </md-list>
    </md-card>
</div>