<div ng-class="{'mdContentParent':true}" ng-controller="QuantumSignUpCtr" layout="columns" layout-align="center center" ng-cloak>
    <md-content layout-padding>
        <md-button ng-init="strategy='facebook'" class="md-primary md-raised md-mini" aria-label="Sign-up with Facebook">
            <md-icon class="md-primary" md-svg-src="../gfx/icons/facebook56.svg"></md-icon>
            <span>Sign-up with Facebook</span>
        </md-button>
        <md-button ng-init="strategy='google'" ng-click="signUpPopup($event,strategy)" class="md-warn md-raised md-mini" aria-label="Sign-up with Google">
            <md-icon class="md-warn" md-svg-src="../gfx/icons/google120.svg"></md-icon>
            <span>Sign-up with Google</span>
        </md-button>
    </md-content>
</div>