<div class="row">
    <md-card class="col-lg-12 space-around">
        <md-data-table-toolbar>
            <h6 class="md-title">Servers</h6>
            <div flex></div>
            <md-button class="md-icon-button" aria-label="Manage">
                <md-icon md-font-set="material-icons">explore</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-font-set="material-icons">more_vert</md-icon>
            </md-button>
        </md-data-table-toolbar>
        <md-divider></md-divider>
        <md-data-table-container>
            <table md-data-table md-row-select="selected" md-progress="deferred">
                <tbody>
                <tr md-auto-select>
                    <td>Mobile Basic</td>
                    <td>172.255.255.255</td>
                    <td>
                        <md-icon md-font-set="material-icons">check</md-icon>
                    </td>
                </tr>
                <tr md-auto-select>
                    <td>My Computer</td>
                    <td>172.255.255.251</td>
                    <td>
                        <md-icon md-font-set="material-icons">check</md-icon>
                    </td>
                </tr>
                <tr md-auto-select>
                    <td>Fun Base</td>
                    <td>172.255.251.255</td>
                    <td>
                        <md-icon md-font-set="material-icons">check</md-icon>
                    </td>
                </tr>
                <tr md-auto-select>
                    <td>Robots IO</td>
                    <td>172.251.255.255</td>
                    <td>
                        <md-icon md-font-set="material-icons">check</md-icon>
                    </td>
                </tr>
                <tr md-auto-select>
                    <td>Fantastic Web</td>
                    <td>171.255.255.255</td>
                    <td>
                        <md-icon md-font-set="material-icons">warning</md-icon>
                    </td>
                </tr>
                <tr md-auto-select>
                    <td>Future Access</td>
                    <td>167.255.255.255</td>
                    <td>
                        <md-icon md-font-set="material-icons">warning</md-icon>
                    </td>
                </tr>
                </tbody>
            </table>
            <md-data-table-pagination md-limit="50" md-page="1" md-total="500">
            </md-data-table-pagination>
        </md-data-table-container>
    </md-card>
</div>
